.nav {
  background-color: white;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}



.jumbotron .container {
  position: top;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

video#bgvid {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.twitter-div {
  bottom: 0px;
  position: relative;
  bottom: -410px;
  z-index: -1000;
}
